@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    --background: rgb(237, 237, 237);
    --green: rgba(177, 227, 25, 1);
    --pink: rgb(221, 6, 147);
}
