@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    --background: hsl(180, 52%, 96%);
    --primary: hsl(180, 45%, 62%);
    --secondary: hsl(180, 14%, 20%);
}
